{{#foreach posts}}

    <article class="{{post_class}} post-excerpt">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        <section>
            <p>
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>. {{excerpt words="50"}}<a class="read-more" href="{{url}}">&hellip;</a>
            </p>
        </section>
    </article>

{{/foreach}}

{{pagination}}
