<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>
        {{#if posts}}
            {{@blog.title }} | {{@blog.description}}{{#if pagination.prev}} | Page {{pagination.page}}{{/if}}
        {{else}}
            {{post.title}} | {{@blog.title}}
        {{/if}}
    </title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
    
    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/scratch.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600|Libre+Baskerville&subset=latin,latin-ext" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{> navigation}}

    {{{body}}}

    <footer class="site-footer cf">
        <section class="social cf">
            <a href="https://github.com/echenley" class="icon-github" title="Evan's GitHub"><span class="hidden">GitHub</span></a>
            <a href="https://twitter.com/echenley" class="icon-twitter" title="Evan's Twitter"><span class="hidden">Twitter</span></a>
            <a href="https://plus.google.com/+EvanHenley" class="icon-gplus" title="Evan's Google+"><span class="hidden">Google+</span></a>
        </section>
        <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! JavaScript }}
    <script type="text/javascript" src="{{asset "js/min/scratch-min.js"}}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>
    <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax:{inlineMath:[["$","$"],["\\(","\\)"]]}});</script>

</body>
</html>
