<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{! Page Meta }}
    <title>
        {{#if posts}}
            {{@blog.title }} | {{@blog.description}}{{#if pagination.prev}} | Page {{pagination.page}}{{/if}}
        {{else}}
            {{post.title}} | {{@blog.title}}
        {{/if}}
    </title>
    <meta name="description" content="{{meta_description}}">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
    
    {{! Styles }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/scratch.css"}}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600|Libre+Baskerville&subset=latin,latin-ext">

    {{ghost_head}}
    
    {{! Google Analytics }}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-53148902-1', 'auto');
        ga('send', 'pageview');
    </script>
    {{! End Google Analytics }}
    
</head>
<body class="{{body_class}}">

    {{> navigation}}

    {{{body}}}

    <footer class="site-footer cf">
        <div class="social cf">
            <a href="https://github.com/echenley" class="icon-github" title="Evan's GitHub"><span class="hidden">GitHub</span></a>
            <a href="https://twitter.com/echenley" class="icon-twitter" title="Evan's Twitter"><span class="hidden">Twitter</span></a>
            <a href="http://henleyedition.com/rss" class="icon-rss" title="Evan's RSS feed"><span class="hidden">RSS Feed</span></a>
        </div>
        <div class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! JavaScript }}
    <script type="text/javascript" src="{{asset "js/min/scratch-min.js"}}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script>

</body>
</html>