{{!< default}}

<article class="{{post_class}}">
{{#post}}
    <h1 class="post-title">{{title}}</h1>
    {{content}}
    {{! Uncomment the following to enable tags: }}
    {{!-- 
        <hr>
        <p>{{tags separator=", " prefix="Tagged in:"}}</p>
    --}}
    <p class="text-right timestamp">
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
    </p>
{{/post}}
</article>